<div class="field">
      <div class="control">
      <%= f.input :Nom_Complet, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: 'Nom Complet:', error:"Le nom d' utilisateur est obligatoire" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
      <%= f.input :Telephone, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: " Votre Numéro de Téléphone", error: "Entrez votre numero de téléphone pour rester informé!" %>
      </div>
    </div>

    <div class="field">
      <div class="control"><!-- un liste ou /!-->
      <%= f.input :Ecole, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: "Votre Ecole", error:"selectionne votre école pour rester en contact avec vos amis d'école" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
      <%= f.input :email, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, hint:("Pas Obligatoire pour les Elèves"), required:false %>
      </div>
    </div>
  
      
    <div class="field">
      <div class="control">
        <%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: { maxlength: 20 } %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :password_confirmation, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, input_html: { maxlength: 20 } %>   
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.attachment_field :profile_image, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>   
      </div>
    </div>