<div class="column is-four-fifths-mobile is-four-fifths-tablet is-four-fifths-desktop is-four-fifths-fullhd ">
  <% if user_signed_in? %>
    <article class="media box">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= current_user.Nom_Complet %></strong>
            
          </p>
          <p>
            <%= link_to "Quelle est votre question ou lien ?", new_course_path %>
          </p>
        </div>
      </div>
    </article>
  <% end %>
  <div class="media-content">
  <% @courses.each do | course| %>
    <div class="box">
      <div class="title">
        <p><%= course.titre %></p>    
      </div>
      <br>

      
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p><%= course.user.Nom_Complet %>, <%= course.user.bio %></p>
        </div>
      </div>
    </article>
    <div class="media-content">
      <div class="content">
        <div class="content">
          <%= sanitize course.corps %>
        </div>
      </div>
    </div>
          <!--insert the option to anwser, delete, and other options/!-->

        <% if user_signed_in? && current_user.id == course.user_id %>
          <nav class="level">
            <div class="level-left is-mobile is-right">
              <%= link_to course, class: "level-item" do %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to edit_course_path(course), class: "level-item" do %>
                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to course, method: :delete, data: { confirm: "Etes-vous sûre de vouloir supprimez ?" } do %>
                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>              
          </nav>
        <% end %>
      </article>
    </div>
  <% end %>
</div>
</div>