<div class="section">
  <div class="container">

    <%= simple_form_for(@course) do |f| %>
      <%= f.error_notification %>

          <div class="field">
            <div class="control">
              <%= f.input :titre, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" },class:"active", placeholder: "Donnez un titre qui attire l'attention" %>
            </div>
          </div>


        <div class="columns">
          <div class="field column is-6">
            <div class="control">
              <label class="label">Niveau :</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :Niveau_Cours, collection: Course::NIVEAUX, prompt: "Selectionne le niveau" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-briefcase"></i>
                </span>
              </div>
            </div>
          </div>   

          <div class="field column is-6">
            <div class="control">
              <label class="label">Matière :</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :Matiere_Course, collection: Course::MATIERES, prompt: "Selectionne la matère" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-briefcase"></i>
                </span>
              </div>
            </div>
          </div>   
        </div>

        <div class="field">
            <div class="control">
             <%= f.hidden_field :corps, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "textarea" }, id: :summernote %>
             <%= f.input :corps, as: :summernote %>
            </div>
        </div>
        <hr />
        <%= f.button :submit," Créer le Cours" ,class: "button is-info is-large is-rounded" %>
    <% end %>
  </div>
</div>