	<nav class="panel is-3">
		<p class="panel-heading">Fil Matières</p>


		<a class="panel-block">
			<%= link_to 'Histoire', courses_path(:matiere_course => "Histoire") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Géographie', courses_path(:matiere_course => "Géographie") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Math', courses_path(:matiere_course => "Math") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Physiques', courses_path(:matiere_course => "Physiques") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Chimie', courses_path(:matiere_course => "Chimie") %>
		</a>
		<a class="panel-block"> 
			<%= link_to 'SVT', courses_path(:matiere_course => "SVT") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Français', courses_path(:matiere_course => "Français") %>
		</a>
		<a class="panel-block"> 
			<%= link_to 'Anglais', courses_path(:matiere_course => "Anglais") %>
		</a>
		<a class="panel-block"> 
			<%= link_to 'Philosophie', courses_path(:matiere_course => "Philosophie") %>
		</a>
		<a class="panel-block">
			<%= link_to 'EDHC', courses_path(:matiere_course => "EDHC") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Allemand', courses_path(:matiere_course => "Allemand") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Espagnol', courses_path(:matiere_course => "Espagnol") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Entreprenariat', courses_path(:matiere_course => "Entreprenariat") %>
		</a>
		<a class="panel-block">
			<%= link_to 'Art Plastique', courses_path(:matiere_course => "Art-Plastique") %>
		</a>
	</nav>
