<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @course.titre %>
</p>

<p>
  <strong>Corps:</strong>
  <%= @course.corps %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
