<!DOCTYPE html>
<html>
  <head>
    <title>Chatln</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

  <body>
    <!-- system de notification devise/!-->
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


  
    <nav class="navbar is-info is-fluid is-fixed-top">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item is-inverted is-rounded" do %>
          <h1 class="title is-inverted is-5">ChatLn</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
            <span></span>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
              <p class="control">
                <!--/for prof!-->
                <%= link_to 'Ajouter un Doc', new_course_path, class: "button   is-rounded" %>
              </p>
            <p class="control">
                <!--/ redict_to profile with content or course buy or create!-->
              <%= link_to 'Question-Doc',new_question_path, class: "button is-rounded" %>
            </p>
              <% end %>
              <% if user_signed_in? %>
              <span class="control is-rounded">                
                <%= link_to image_tag(current_user.avatar.url(:thumb), alt:current_user.username), edit_user_registration_path, class: "button" %>
              </span>
              <p class="control">
                <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "button is-info is-inverted" %>      
              </p>           
                                             
                            
              <% else %>
                <p class="control">
                  <%= link_to 'Se Connecter', new_user_session_path, class: "button is-info is-inverted" %>
                </p>
               
                <p class="control">
                  <%= link_to 'Créer un Compte', new_user_registration_path, class: "button is-info is-inverted" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <hr><!--un petit espace apres la navbar: pas propre mais ca fait le travail actuellement /!-->
  

    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
