<!DOCTYPE html>
<html>
  <head>
    <title>Chatln</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- system de notification devise/!-->
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


    
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">ChatLn</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span></span>
          <span></span>
            <span></span>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <!--/for prof!-->
              <%= link_to 'Ajouter un cours', new_course_path, class: "button is-info is-inverted is-rounded" %>
            </p>
            <p class="control">
                <!--/ redict_to profile with content or course buy or create!-->
              <%= link_to 'Biblio Tech', root_path, class: "button is-info is-inverted is-rounded" %>
            </p>
              <% if user_signed_in? %>
              
                <p class="control">
                   
                  <%= link_to current_user.Nom_Complet, edit_user_registration_path, class: "button is-info is-inverted" %>
                </p>
                
                <p>
                  <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "button is-info is-inverted" %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to 'Se Connecter', new_user_session_path, class: "button is-info is-inverted" %>
                </p>
               
                <p class="control">
                  <%= link_to 'Créer un Compte', new_user_registration_path, class: "button is-info is-inverted" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
